set (autostart ${PLUGIN_SYSTEM_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.System")

if(PLUGIN_SYSTEMSERVICE_STARTUPORDER)
set (startuporder ${PLUGIN_SYSTEMSERVICE_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_SYSTEMSERVICE_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()

ans(configuration)
